/* --------------------------------- */

#hamburger {
  display: none;
}

.banner .container,
.sec_1 .container,
.sec_2 .container,
.sec_3 .container,
.sec_4 .container,
.sec_5 .container,
.sec_6 .container {
  width: 1720px;
  margin: 0 auto;
}

.sec_1 .container,
.sec_2 .container,
.sec_3 .container,
.sec_4 .container,
.sec_5 .container,
.sec_6 .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

body {
  transition: 0.3s;
}

body.bg {
  background-color: #b3b3b3;
}

.header_area {
  width: 100%;
  height: 160px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  /* background-color: #fff; */
  transition: 0.3s;
}

.header_area.scroll {
  height: 80px;
  background-color: #fff;
}

.header_area .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}
.header_area .logo {
  width: 160px;
  height: 40px;
}

.menu {
  display: flex;
  gap: 12px;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
}

.menu li.active {
  border-bottom: 2px solid #6a6a6a;
}

.icon,
.icon_big {
  width: 24px;
  height: 24px;
}

.icon_big {
  margin-left: 24px;
}

.subject {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.subject_text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 12px;
}

.header_box {
  position: absolute;
  left: 5%;
  bottom: 10%;
}

.back_img {
  height: 850px;
  position: relative;
}

.back_img.up img {
  object-position: bottom;
}

.subject,
.subject_text {
  text-shadow: 4px 0 24px rgba(255, 255, 255, 0.5);
}
/* 서브메뉴박스 */

.sub_menu_detail {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.sub_menu_detail.photo {
  width: 415px;
  height: 299px;
}

.sub_menu {
  position: fixed;
  top: 100px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 735px;
  height: 362px;
  background-color: #d9d9d9;
  padding: 40px;

  opacity: 0;
  z-index: -1;
  transition: 0.3s;
}

.sub_menu.active {
  opacity: 1;
  z-index: 99;
}

/* sec_1 */

.title {
  font-size: 32px;
  /* margin-top: 240px; */
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.subtitle {
  font-size: 20px;
  padding-bottom: 4px;
  white-space: nowrap;
}

.best_image {
  overflow: hidden;
}

.best_image img {
  transition: 0.3s;
  cursor: pointer;
}

.best_image img:hover {
  transform: scale(1.1, 1.1);
}

.best_product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.list,
.price {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.best_product,
.best_product p {
  width: 100%;
  text-align: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #6a6a6a;
}

.swiper-button-prev:after {
  margin-right: 10px;
}

.swiper-button-next:after {
  margin-left: 10px;
}

/* sec_2 */

.sec_2 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.brand_photo {
  /* width: 670px; */
  height: 552px;
  margin: 0 auto;
}

/* sec_3 */

.second_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #6a6a6a;
  margin-top: 120px;
  margin-bottom: 80px;
}

.main_section {
  display: flex;
  gap: 20px;
}

.section {
  /* width: calc((100% - 20px) / 4); */
  flex: 1;
  transition: 0.3s;
}

.section:hover {
  flex: 3;
}

.section_img {
  width: 100%;
  height: 480px;
  cursor: pointer;
}

.section_text {
  text-transform: uppercase;
  text-align: center;
  margin-top: 12px;
  /* margin-bottom: 240px; */
}

/* .section_img:hover {
  transform: translateY(-20px);
} */

/* sec_4 */

.sec_4 .container {
  display: flex;
}

.sec_4 .photo {
  width: 705px;
  height: 520px;
}

.text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}

.maintitle {
  margin-bottom: 28px;
}

.swiper-slide.slide_inner img {
  transition: 0.3s;
  cursor: pointer;
}

.swiper-slide.slide_inner.best img:hover {
  transform: scale(1.1, 1.1);
}

.swiper-slide.slide_inner img:hover {
  transform: translateY(-20px);
}

.sec_6 .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.content {
  width: calc((100% - 20px) / 2);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.content img {
  transition: 0.3s;
}

.content img:hover {
  transform: scale(1.1, 1.1);
}

.content_text {
  font-size: 36px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;

  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lipSwiper .swiper-pagination-bullet-active {
  background-color: #6a6a6a;
}

/* footer */

.footer_area {
  height: 300px;
  background-color: #e6e6e6;
}

.footer_img {
  width: 40px;
  height: 40px;
}

.footer .subline,
.footer_content .headline {
  font-size: 12px;
}

.footer_box {
  width: 160px;
  height: 40px;
  margin-bottom: 12px;
}

.footer_area .container {
  width: 1400px;
  margin: 0 auto;
}

.footer .subline {
  margin-bottom: 16px;
}

.footer_in_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.footer_icon {
  display: flex;
  gap: 28px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 42px;
}

/* 반응형 */

@media (max-width: 1740px) {
  .banner .container,
  .sec_1 .container,
  .sec_2 .container,
  .sec_3 .container,
  .sec_4 .container,
  .sec_5 .container,
  .sec_6 .container,
  .footer .footer_area {
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
  }

  /* .swiper-slide.slide_inner img {
    width: 350px;
    height: 450px;
  } */
  .subject {
    font-size: 38px;
  }
  .subject_text {
    font-size: 20px;
  }
}

@media (max-width: 1420px) {
  .subject {
    font-size: 32px;
  }
  .subject_text {
    font-size: 18px;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 18px;
  }

  .sec_4 .photo {
    width: 400px;
    height: 350px;
  }

  .text_box {
    margin-left: 80px;
  }

  .best_product {
    gap: 4px;
    font-size: 14px;
  }
}

@media (max-width: 1260px) {
  .text {
    font-size: 14px;
  }

  .sub_menu {
    width: 650px;
    height: 350px;
  }

  .brand_photo {
    height: 450px;
  }

  .content_text {
    font-size: 28px;
  }

  .list,
  .price {
    font-size: 14px;
    /* text-overflow: ellipsis; */
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 14px;
  }

  .maintitle {
    font-size: 20px;
  }
}

@media (max-width: 960px) {
  .banner .container,
  .sec_1 .container,
  .sec_2 .container,
  .sec_3 .container,
  .sec_4 .container,
  .sec_5 .container,
  .sec_6 .container,
  .footer_area .container {
    width: 100%;
    padding-left: 28px;
    padding-right: 28px;
  }

  .sec_1 .container,
  .sec_2 .container,
  .sec_3 .container,
  .sec_4 .container,
  .sec_5 .container,
  .sec_6 .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .logo,
  #hamburger {
    z-index: 999;
  }

  .header_area .container .menu {
    /* display: none; */
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    flex-direction: column;
    font-size: 5vw;
    gap: 20px;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
  }

  .header_area .container .menu.menuClick {
    transform: translateX(0);
  }

  .menu li {
    border-bottom: 2px solid transparent;
  }

  .menu li.active {
    border-color: #6a6a6a;
  }

  .header_area .icon {
    display: none;
  }

  .header_area .text {
    font-size: inherit;
  }

  .sub_menu_box {
    display: none;
  }

  #hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
  }

  #hamburger span {
    border: 1px solid #000000;
    width: 28px;
  }

  .header_area .logo {
    width: 124px;
    height: 38px;
  }

  .header_area .container {
    padding-left: 28px;
    padding-right: 28px;
  }

  .back_img {
    height: 680px;
  }

  .subject {
    font-size: 28px;
  }

  .subject_text {
    font-size: 14px;
  }

  .swiper-pagination {
    display: none;
  }

  .brand_photo {
    height: 350px;
  }
  .section_text {
    font-size: 14px;
  }

  .section_img {
    height: 400px;
  }

  .best_product {
    gap: 4px;
    font-size: 12px;
  }

  .section {
    width: calc((100% - 20px) / 2);
    display: flex;
    flex-direction: column;
  }

  .maintitle {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .list,
  .price {
    font-size: 12px;
  }

  .sec_4 .photo {
    width: 410px;
    height: 300px;
  }

  .text_box {
    margin-left: 40px;
  }

  .content_text {
    font-size: 22px;
  }

  .second_text {
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .sec_4 .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .photo {
    margin: 0 auto;
  }

  .sec_4 .photo {
    margin-top: 24px;
  }
}

@media (max-width: 760px) {
  .banner .container,
  .sec_1 .container,
  .sec_2 .container,
  .sec_3 .container,
  .sec_4 .container,
  .sec_5 .container,
  .sec_6 .container {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }

  .sec_1 .container,
  .sec_2 .container,
  .sec_3 .container,
  .sec_4 .container,
  .sec_5 .container,
  .sec_6 .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer_area .container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .header_area .container {
    height: 80px;
  }

  .header_area .logo {
    width: 82px;
    height: 25px;
  }

  .back_img {
    height: 400px;
  }

  .subject {
    font-size: 16px;
  }

  .maintitle {
    text-align: center;
    font-size: 14px;
  }

  .sec_2 .container {
    display: block;
  }

  .title {
    display: block;
    font-size: 20px;
    text-align: left;
  }

  .subtitle {
    display: block;
    font-size: 12px;
    text-align: center;
    white-space: normal;
  }

  .brand_photo {
    height: 250px;
  }

  .second_text {
    font-size: 16px;
    text-align: center;
  }

  .subject_text {
    font-size: 12px;
  }

  .sec_4 .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .sec_4 .text_box {
    margin: 0;
  }

  .sec_4 .photo {
    margin: 0 auto;
    margin-top: 24px;
    width: 100%;
    height: 253px;
  }

  .main_section {
    width: 100%;
    flex-direction: column;
  }

  .section {
    width: 100%;
  }

  .section_img {
    width: 100%;
    height: 400px;
  }

  .content {
    width: calc((100% - 20px) / 1);
  }

  .content_text {
    font-size: 16px;
  }

  .footer_area {
    height: 200px;
  }

  .footer {
    display: none;
  }

  .footer_in_box {
    padding-top: 40px;
  }

  .footer_icon {
    margin: 0 auto;
    gap: 14px;
  }

  .footer_box {
    width: 124px;
    height: 38px;
  }

  .footer_content {
    margin-top: 24px;
  }

  .footer_content .headline {
    text-align: center;
  }

  .text_box {
    display: block;
  }
  .maintitle,
  .subtitle {
    text-align: left;
  }
}
